/* Existing CSS */

* {
    margin: 0;
    padding: 0;
    align-content: center;
}

nav {
    background-color: azure;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(210, 205, 205, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
}

#logo h1 {
    font-size: x-large;
    font-weight: 500;
}

#menu {
    display: flex;
    background-color: rgb(182, 219, 219);
    padding: 10px 30px;
    border-radius: 10px;
    column-gap: 50px;
    font-weight: 500;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

#auth-btn {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

#auth-btn button {
    height: 30px;
    padding: 0 10px 5px;
    border-radius: 3px;
    background-color: rgb(79, 70, 229);
    color: white;
    font-weight: 600;
}

#auth-btn button:hover {
    background-color: rgb(59, 59, 177);
}

#profile {
    width: 35px;
}

#hide-orders {
    display: none;
}

#stack-cont {
    margin-right: 2%;
    display: none;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: right;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#popup:not(.hidden) {
    opacity: 1;
    pointer-events: auto;
}

.popup-content {
    background-color: rgb(182, 219, 219);
    padding: 20px;
    width: 60%;
    max-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.popup-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup-content li {
    margin: 15px 0;
}

.popup-content a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

#user-name {
    margin-top: auto;
}

@media (max-width: 850px) {
    #menu, #auth-btn {
        display: none;
    }
    #profile {
        display: none;
    }
    #stack-cont {
        display: block;
    }
}

@media (max-width: 500px) {
    #auth-btn {
        display: none;
    }
    #stack-cont {
        display: block;
    }
    #logo {
        margin-left: 10px;
    }

    .popup-content #auth-btn {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        row-gap: 10px;
    }

    .popup-content #auth-btn button {
        width: 100%;
    }
}
