#pro-det-main-container{
    /* background-color: rgb(245, 241, 236); */
    /* background-color: yellowgreen; */
    margin: 5%;
    margin-top: 7%;
    /* position: relative; */
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(210, 205, 205, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
}
#product-row-1{
    display: flex;
    flex-wrap: wrap;
}
#pro-image{
    border-top-left-radius: 10px;
    /* height: 350px; */
    width: 50%;
    display: flex;
    justify-content: center;
    /* padding-top: 2%; */
}
#pro-image img{
    border-radius: 10px;
}
#pro-details{
    width: 50%;
    align-content: start;
    text-align: left;
    /* background-color: antiquewhite; */
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
#pro-details h1{
    /* font-weight: 300; */
    /* font-size: 15px; */
}
#title-cont{
    line-height: 35px;
}
#pro-title{
    font-size: 20px;
    font-weight: 500;
}
#pro-det-ratings-cont{
    display: flex;
}
#pro-det-ratings{
    font-size: 15px;
}
#price-cont{
    display: flex;
    font-size: 20px;
    font-weight: 500;
}
#size-cont{
    display: flex;
    /* font-size: 25px; */
    /* font-weight: 500; */
}
#size-cont p{
    /* display: flex; */
    font-size: 20px;
    font-weight: 500;
    margin-right: 15px;
}
#sizes{
    /* background-color: yellowgreen; */
    gap: 20px;
    text-align: center;
    display: flex;
}
#sizes div{
    width: 30px;
    height: 30px;
    font-weight: 400;
    border: 1px solid black;
    /* padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px; */
    margin-right: 5px;
    cursor: pointer;
    border-radius: 50%;
}
#sizes div:hover{
    background-color: rgb(69, 114, 199);
}
#details{
    /* background-color: yellowgreen; */
    margin-top: 10%;
}
#details h1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2.5%;
}
#details p{
    line-height: 30px;
}
#btns-add{
    display: flex;
    /* background-color: rgb(122, 130, 98); */
    margin-top: 15%;
}
#btn-add-1{
    width: 100%;
    padding: 10px;
    color: white;
    margin-right: 10px;
    background-color: rgb(11, 12, 8);
}
#btn-add-2{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: rgb(11, 12, 8);
    height: 100%;
}

#pro-des{
    /* background-color: red; */
    text-align: left;
    /* padding: 2%; */
    padding-top: 2%;
}
#pro-des h1{
    font-size: x-large;
    font-weight: 500;
}
#material{
    font-size: 10px;
    color: grey;
}

#btns-remove{
    display: flex;
    /* background-color: rgb(122, 130, 98); */
    margin-top: 15%;
}
#btn-remove-1{
    width: 100%;
    padding: 10px;
    /* color: white; */
    margin-right: 10px;
    /* background-color: rgb(11, 12, 8); */
    border: 1px solid black;
    color: black;
    font-weight: 500;
}
#btn-remove-2{
    width: 50%;
    padding: 10px;
    color: white;
    background-color: rgb(11, 12, 8);
}
#pro-det-btn-cont{
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#btn-1{
    width: 50%;
    /* background-color: aqua; */
    height: 100%;
}
#btn-2{
    width: 50%;
    /* background-color: rgb(131, 91, 147); */
}

@media(max-width:850px){
    #pro-det-main-container{
        margin-top: 15%;
        /* margin-left: 0%;
        margin-right: 0%; */
    }
    #pro-details{
        width: 100%;
        /* background-color: yellowgreen; */
        text-align: left;
        padding: 3%;
    }
    #pro-image{
        width: 100%;
        /* justify-items: center; */
        /* background-color: aqua; */
        /* margin: 7%; */
    }
    #pro-image img{
        border-radius: 0px;
        /* margin-top: -2.4%; */
    }
    #pro-des{
        padding: 2%;
    }
}